


body {
    margin: 0px;
    text-align: center;
    background-image: url("https://media.giphy.com/media/24nHoeuyAA27l22hJ7/giphy.gif");
    background-size: contain;
   
}

img {
    width: 100px;
}



.hero {

    background-image: url("https://media.giphy.com/media/5ULDrVOIrOAZty78fo/giphy.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 443px;
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

#hero-title {

    background-color: #219ebc;
    border-radius: 5px;
    color: white;
    height: 34px;
    width: 320px;
   
    text-shadow: 0 9px 15px rgb(242, 23, 23);
    font-family: Arial;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    padding: 5px 2px 9px 2px;
    
    
}


#hero-title:hover {
    color: black;
    background-color:rgb(237, 12, 12) ;
}

#hero-subtitle {

    background-color: #219ebc;
    color: rgb(237, 12, 12);
    text-shadow: 0 6px 15px rgb(3, 1, 1);


    font-family: inherit;
    font-size: 30px;
    font-weight: 800;
    text-align: center;

    height: 40px;
    width: 870px;
    border-radius: 10px;
    padding: 5px 2px 2px 2px ;
    
}

#hero-subtitle:hover {
    color: blue;
    background-color: yellow;
}


.activity {
    background-color: #F1FAEE;
    margin-top: -55px;

}

#activity-title {
    height: 20px;
    width: 485px;
    color: black;
    text-shadow: 0 0 10px rgb(19, 145, 242);

    margin-left: auto;
    margin-right: auto;
    padding-top: 39px;

    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  
}

.the-box {
    background-color: #F1FAEE;

    height: 378px;
    width: 720px;
    left: 0px;
    top: 343px;
    border-radius: 0px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}

#pic-1 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    left: 83px;
    top: 114px;
    
}


#pic-2 {

    border-radius: 50%;
    height: 100px;
    width: 100px;
    left: 83px;
    top: 114px;
}

#pic-3 {
   
    border-radius: 50%;
    height: 100px;
    width: 100px;
    left: 83px;
    top: 114px;

}

.p {
    font-family: Arial;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

}

h3 {
    
   color: rgb(19, 145, 242);
   text-shadow: 5px 5px 15px rgb(17, 14, 9);

    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    
}


.div-1 {

    height: 226px;
    width: 198px;
    left: 34px;
    top: 114px;
    border-radius: 0px;
    
}

.div-2 {
    
    height: 226px;
    width: 198px;
    left: 34px;
    top: 114px;
    border-radius: 0px;
}

.div-3 {

    height: 226px;
    width: 198px;
    left: 34px;
    top: 114px;
    border-radius: 0px;
    
}

#guide {
    
    height: 248px;
    width: 180px;
    border-radius: 10px;
  

    margin: 23px 7px 23px 13px;   
    
}

.card {


    height: 294px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto 50px auto;

    background-color: #219ebc;
    box-shadow: 0px 6px 0px #1D3557;

    display: flex;
    justify-content: space-around;

    /* background-color: red; */

}


.inside-text {

    height: 200px;
    margin: auto;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#one {

     color: #1D3557;
     text-shadow: 0 0 9px orange;

    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

    height: 32px;
    width: 207px;
    left: 349px;
    top: 99px;
    border-radius: nullpx;
    

}

#two {     
     
    height: 71px;
    width: 189px;
    left: 360px;
    top: 145px;
    
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}

#three {

    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

    height: 18px;
    width: 189px;
    left: 358px;
    top: 242px;

    text-shadow: 0 0 9px orange;
    
}












