


body {
    margin: 0px;
    text-align: center;


    /* background-image: url("https://media.giphy.com/media/24nHoeuyAA27l22hJ7/giphy.gif");
    background-size: 120vh;
    background-position: */
   
}

img {
    width: 100px;
}



.hero {

    background-image: url("https://media.giphy.com/media/BCs20EzQnYRXi/giphy.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 443px;
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

#hero-title {

    background-color: #219ebc;
    border-radius: 5px;
    color: white;
    height: 34px;
    width: 320px;
   
    text-shadow: 0 9px 15px rgb(242, 23, 23);
    font-family: Arial;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    padding: 5px 2px 9px 2px;
    
    
}


#hero-title:hover {
    color: black;
    background-color:rgb(237, 12, 12) ;
}

#hero-subtitle {

    background-color: #219ebc;
    color: rgb(237, 12, 12);
    text-shadow: 0 6px 15px rgb(3, 1, 1);


    font-family: inherit;
    font-size: 30px;
    font-weight: 800;
    text-align: center;

    height: 40px;
    width: 870px;
    border-radius: 10px;
    padding: 5px 2px 2px 2px ;
    
}

#hero-subtitle:hover {
    color: blue;
    background-color: yellow;
}


.activity {
    background-color: #F1FAEE;
    margin-top: -55px;

}

#activity-title {

    /* background-color: rgb(240, 235, 229); */

    border-radius: 6px;

    height: 0px;
    width: 485px;
    color: black;
    text-shadow: 0 0 10px rgb(19, 145, 242);

    margin: 0px auto 0px auto;
    padding: 10px 10px 30px 10px;

    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  
}


.activity-div {

    
    background-color: #f1d07b;

}

.the-box {
    background-color: #f1d07b;

    margin-top: 0px;

    height: 478px;
    width: 720px;
    left: 0px;
    top: 343px;
    border-radius: 0px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}

#pic-1 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    left: 83px;
    top: 114px;



    /* --m:
    radial-gradient(circle farthest-side at right,#000 99%,#0000) 
      0 100%/46% 92% no-repeat,
    radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
      100% 0/46% 92% no-repeat;
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: grayscale(.5);
  transition: .3s linear;
  cursor: pointer; */
    
}


.div-1:hover {

     
    transform: scale(1.5);




    /* -webkit-mask-position: 7.5% 50%,92.5% 50%;
    mask-position: 7.5% 50%,92.5% 50%;
filter: grayscale(0); */

} 




#pic-2 {

    border-radius: 50%;
    height: 100px;
    width: 100px;
    left: 83px;
    top: 114px;

}


.div-2:hover {

     
    transform: scale(1.4);

}



#pic-3 {
   
    border-radius: 50%;
    height: 100px;
    width: 100px;
    left: 83px;
    top: 114px;

}


.div-3:hover {

     
    transform: scale(1.5);

}


.p {
    font-family: Arial;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

}

h3 {
    
   color: rgb(19, 145, 242);
   text-shadow: 5px 5px 15px rgb(17, 14, 9);

    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    
}


.div-1 {

    height: 226px;
    width: 198px;
    left: 34px;
    top: 114px;
    border-radius: 0px;
    
}



.div-2 {
    
    height: 226px;
    width: 198px;
    left: 34px;
    top: 114px;
    border-radius: 0px;
}

.div-3 {

    height: 226px;
    width: 198px;
    left: 34px;
    top: 114px;
    border-radius: 0px;
    
}

#guide {
    
    height: 248px;
    width: 180px;
    border-radius: 10px;

    background-image: url("https://media.giphy.com/media/rp64ilsWhDQLkrFv3Y/giphy.gif");
    background-size: cover;
    background-position: 20cm;

  
    border: 2px solid rgb(238, 83, 83);
    

    margin: 23px 7px 23px 13px;   
    
}

.outter-card {
    
    position: absolute;
    width: 100%;
    background-image: url("https://media.giphy.com/media/mzoDPO2LCs7fwkri4T/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}


.card {


    height: 294px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto 50px auto;

    background-color: #219ebc;
    box-shadow: 0px 6px 0px #1D3557;

   

    display: flex;
    justify-content: space-around;

    /* background-color: red; */

}

.card:hover {
    background-color: rgb(30, 31, 59);
    color: rgb(103, 37, 175);
    font-weight: 800px;
    font-weight: bold;

    border: 8px solid;
    border-image: repeating-linear-gradient(
        135deg,
        #f8ca00 0 10px,
        #e97f02 0 20px,
        #bd1550 0 30px
      )
      8;
    -webkit-: conic-gradient (
          from 180deg at top 8px right 8px,
          #0000 90deg,
          #000 0
        )
        var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
      conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0
        var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
    transition: 0.3s, -webkit-mask-position 0.3s 0.3s;
    --_i: 100%;
    color: #cc333f;
    transition: 0.3s, -webkit-mask-size 0.3s 0.3s;

}



.inside-text {

    height: 200px;
    margin: auto;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#one {

     color: #1D3557;
     text-shadow: 0 0 9px orange;

    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

    height: 32px;
    width: 207px;
    left: 349px;
    top: 99px;
    border-radius: nullpx;
    

}

#two {     
     
    height: 71px;
    width: 189px;
    left: 360px;
    top: 145px;
    
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}

#three {

    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

    height: 18px;
    width: 189px;
    left: 358px;
    top: 242px;

    text-shadow: 0 0 9px orange;
    
}

.team-box {
    border: 5px dotted blue;
    background-color: rgb(189, 20, 20);
    height: 500px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* #team-title {

    border: 4px solid yellow;
    margin: 0px auto 100px auto;

    background-color: rgb(249, 124, 0);

    border-radius: 15px;

    height: 0px;
    width: 485px;
    color: black;
    text-shadow: 0 0 10px rgb(19, 145, 242);

    margin: 0px auto 0px auto;
    padding: 30px 10px 55px 10px;

    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

} */

.team-1 {
    width: 30%;
    border: 4px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: start; */
}

.team-2 {
    margin-left: 800px;
    width: 30%;
    border: 4px solid black;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    /* justify-content: start; */
}





